.about {
  margin-top: 1.5rem;
  display: flex;
}

.about-content {
  display: flex;
  flex-direction: column;
}

.about-content, .skills-content, .about-me, .skills {
  flex: 1;
}

.about-me {
  margin: 1rem 3rem;
  font-size: 0.875rem;
  line-height: 2rem;
  text-align: center;
}

.about-me .about-text {
  text-align: justify;
  margin-bottom: 2rem;
}

.about-me a {
  margin-top: 1rem;
  text-align: center;
}

.skills {
  display: flex;
  justify-content: space-between;
  margin: 0 3rem;
  flex-wrap: wrap;
}

.group-heading {
  margin-bottom: 1rem;
}

.skill-names {
  margin: 0 0 0.25rem 0;
  font-size: 1rem;
}

.skill-group {
  display: flex;
  width: 45%;
  flex-direction: column;
}

.skill-bar-container {
  background-color: rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
}

.skill-bar {
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 992px) {
  .about {
    flex-direction: column;
  }

  .skills-content {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 576px) {
  .skill-group {
    width: 100%;
  }
}