.row {
  margin: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  background-color: blue;
  width: 48%;
  min-height: 26rem;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

.col > .bg-img {
  background-size: cover;
  background-position: center;
  height: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: absolute;
  width: 100%;
}

.col > .project-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.5s;
  font-size: 0.85rem;
  text-align: left;
  visibility: hidden;
  color: white;
  opacity: 0;
}

.project-info > .logo {
  width: 100%;
  height: 100%;
}

.col:hover > .project-info,
.col:focus > .project-info {
  visibility: visible;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.6);
  opacity: 1;
}

.col > .project-info > .tags {
  font-family: Lato;
  font-variant: small-caps;
}

.logo > img {
  width: 6rem;
}

.pnw-logo > img {
  width: 7rem;
}

.nitc-logo > img {
  width: 5rem;
}

.project-info > .nitc-logo {
  filter: invert(1);
}

.tags i {
  font-size: 0.6rem;
}

.project-info .desc {
  font-family: Montserrat;
  text-align: justify;
}

.col:hover > .bg-img,
.col:focus > .bg-img {
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.col > .bg-img.chapel {
  background-image: url('../img/chapel-thumbnail.png');
}

.col > .bg-img.allegiant {
  background-image: url('../img/allegiant-thumbnail.jpg');
}

.col > .bg-img.tropicana {
  background-image: url('../img/trop-thumbnail.png');
}

.col > .bg-img.olas {
  background-image: url('../img/olas-thumbnail.png');
}

.col > .bg-img.vending-machine {
  background-image: url('../img/vending-machine-img.jpg');
}

.col > .bg-img.phone-jammer {
  background-image: url('../img/jammer-thumbnail.jpg');
}

@media screen and (max-width: 1200px) {
  .col {
    min-height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .col {
    width: 100%;
  }
  
  .col > .project-info {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 576px) {
  .col {
    min-height: 12rem;
  }
}