.content {
  position: absolute;
  top: 35%;
  margin: 0 4rem;
}

.intro-wrapper {
  width: 62%;
}

.home {
  position: relative;
  height: calc(100vh + 5rem);
  background: url('../img/home-img.png') no-repeat;
  background: url('../img/home-img.webp') no-repeat;
  background-size: contain;
  background-position: top 0 right -10rem;
}

.intro-wrapper > .name {
  color: rgba(0, 0, 0, 0.4);
  letter-spacing: 0.25rem;
  text-transform: uppercase;
  padding: 0 0.25rem;
}

.intro-wrapper .designation {
  font-size: 4rem;
  font-weight: bold;
}

.intro-wrapper .brief-desc {
  font-size: 1.25rem;
  font-weight: bold;
  color: rgba(0,0,0,0.5);
  margin-bottom: 2rem;
}

#home-buttons > .about-button {
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  margin-right: 1rem;
}

#home-buttons > .contact-button {
  background-color: white;
  color: rgba(0, 0, 0, 0.5);
}

.intro-wrapper .designation {
  font-size: 2rem;
}

@media screen and (max-width: 768px) {
  .home {
    height: 100vh;
    margin-bottom: 0 !important;
    background-position: top 0 right 0;
  }

  .content {
    margin: 0 2rem;
    top: unset;
    bottom: 4rem;
  }

  .intro-wrapper { 
    width: 100%;
  }
}

@media screen and (orientation: landscape) and (max-width: 768px) {
  .intro-wrapper .brief-desc {
    width: 55%;
    font-size: 1rem;
  }

  .home {
    margin-top: calc(var(--header-height) - 3rem);
  }
}

@media screen and (orientation: portrait) and (min-width: 769px) {
  .home {
    max-height: 676px;
    background-position: top 0 right -10rem;
    margin-top: 0;
  }
}

@media screen and (max-width: 567px) {
  .home {
    max-height: 676px;
    background-position: top 0 right 0;
    height: calc(100vh - var(--header-height));
    margin-top: var(--header-height);
  }

  .intro-wrapper .designation {
    font-size: 2rem;
  }

  .content {
    margin: 0 1rem;
    bottom: 2rem;
  }
}

@media screen and (max-width: 360px) {
  .intro-wrapper .designation {
    font-size: 1.75rem;
  }

  .intro-wrapper .brief-desc {
    font-size: 1rem;
  }
}