
.projects {
  padding-top: 1rem;
  margin-bottom: 2.5rem;
}

.row {
  margin: 2rem 3rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col {
  width: 48%;
  min-height: 26rem;
  margin-bottom: 2rem;
  overflow: hidden;
  position: relative;
}

.col > a > .bg-img {
  background-size: cover;
  background-position: center;
  height: 100%;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
  position: absolute;
  width: 100%;
}

.col > a > .project-info {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  box-sizing: border-box;
  transition: all 0.5s;
  font-size: 0.85rem;
  text-align: left;
  visibility: hidden;
  color: white;
  opacity: 0;
}

.project-info > .logo {
  width: 100%;
  height: 100%;
}

.col:hover > a > .project-info,
.col:focus > a > .project-info {
  visibility: visible;
  backdrop-filter: blur(2px);
  background-color: rgba(0,0,0,0.6);
  opacity: 1;
}

.project-info > .tags {
  font-family: Lato;
  font-variant: small-caps;
  margin: 0.5rem 0;
}

.project-info > .project-title {
  margin-bottom: 0.5rem;
}

.project-info > .project-subtitle {
  margin-bottom: 0.25rem;
}

.logo > img {
  width: 6rem;
}

.pnw-logo > img {
  width: 7rem;
}

.nitc-logo > img {
  width: 5rem;
}

.project-info > .nitc-logo {
  filter: invert(1);
}

.tags i {
  font-size: 0.6rem;
}

.project-info .desc {
  font-family: Montserrat;
  text-align: justify;
}

.col:hover > a > .bg-img,
.col:focus > a > .bg-img {
  -ms-transform: scale(1.05);
  -moz-transform: scale(1.05);
  -webkit-transform: scale(1.05);
  -o-transform: scale(1.05);
  transform: scale(1.05);
}

.allegiant-bg {
  background-image: url('../img/allegiant-thumbnail.jpg');
  background-image: url('../img/allegiant-thumbnail.webp');
}

.chapel-bg {
  background-image: url('../img/chapel-thumbnail.png');
  background-image: url('../img/chapel-thumbnail.webp');
}

.trop-bg {
  background-image: url('../img/trop-thumbnail.png');
  background-image: url('../img/trop-thumbnail.webp');
}

.olas-bg {
  background-image: url('../img/olas-thumbnail.png');
  background-image: url('../img/olas-thumbnail.webp');
}

.vending-machine-bg {
  background-image: url('../img/vending-machine-img.jpg');
  background-image: url('../img/vending-machine-img.webp');
}

.phone-jammer-bg {
  background-image: url('../img/jammer-thumbnail.jpg');
  background-image: url('../img/jammer-thumbnail.webp');
}

@media screen and (max-width: 1200px) {
  .col {
    min-height: 20rem;
  }
}

@media screen and (max-width: 768px) {
  .col {
    width: 100%;
  }
  
  .col > a > .project-info {
    font-size: 0.75rem;
  }

  .projects {
    margin-bottom: 0;
  }

  .row {
    margin: 2rem 3rem 0;
  }
}

@media screen and (max-width: 576px) {
  .col {
    min-height: 12rem;
  }
}